# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
.env
.python-version

# YAML / editor
*.swp
*~
.idea/
.vscode/

# JSON Schema / generated
*.pyc
.cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Static site
_site/
.jekyll-cache/
.jekyll-metadata
node_modules/
.hugo_build.lock
public/
.DS_Store
